{% extends 'base.html' %}

{% block content %}

<h1>{{article.title}}</h1>
<h2>{{article.user.username}}</h2>
<div>
    {% if request.user == article.user %}
    <div>
        <a href=" {% url 'articles:article_update' article.pk %} ">
            <button>Update</button>
        </a>
    </div>
    <form action=" {% url 'articles:article_delete' article.pk %} " method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <button>Delete</button>
    </form>
</div>
{% endif %}

<p>{{article.content|linebreaksbr}}</p>


<div>
    <form action="{% url 'articles:article_like' article.pk %}" method='POST'>
        {% csrf_token %}
        {% if is_like %}
        <button>
            <i class="fa-solid fa-heart"></i>
        </button>
        {% else %}
        <button>
            <i class="fa-regular fa-heart"></i>
        </button>
        {% endif %}
    </form>
   
</div>



<hr>
{% include 'articles/_comment.html' %}


{% endblock content %}